@use '../abstract' as a;

.painted-background {
    background-image: url(/Assets/Background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

   font-family: 'Poppins', sans-serif;

    .painted-container {
        padding: 2rem 1rem 0;

        @include a.tablet {
            padding-inline: 4rem;
        }
    }

    nav {
        display: flex;
        justify-content: space-between;

        @include a.tablet {
            align-items: center;
        }

        .menu {
            cursor: pointer;

            @include a.tablet {
                display: none;
            }
        }
    }

    .header-info {
        display: none;

        @include a.tablet {
            display: flex;
            align-items: center;
            gap: 1.5rem;
        }

        .search, .sign-in {
            @include a.tablet {
                cursor: pointer;
            }
        }
    }

    .main-section {
        div {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            text-align: center;
            margin-top: 2rem;

            @include a.tablet {
                width: 600px;
                margin-inline: auto;
                align-items: center;
                margin-bottom: 8.5rem;
            }
        }

        img {
            margin-top: 2rem;

            @include a.tablet {
                width: 700px;
                margin-inline: auto;
            }
        }
    }
}