@use '../abstract' as a;

.section-secondary {
    padding: 4rem 1rem 3.5rem;

    font-family: 'Poppins', sans-serif;

    .container-info {
        display: flex;
        flex-direction: column;
        gap: .8rem;
    }

    a {
        width: fit-content;
    }

    img {
        margin-bottom: 3.5rem;
    }
}