@use './colors' as a;

.header-text {
    color: a.$headerColor;
    line-height: 1.5rem;
}

.h1-title {
    font-size: 3rem;
    line-height: 4.5rem;
    font-weight: bold;
}

.h2-title {
    font-size: 2rem;
    line-height: 3rem;
    font-weight: bold;
}

.link {
    text-decoration: none;
    color: a.$buttonColor;
}